.assignment {
    width: 80%;
    padding: 32px;
    .header {
        display: flex;
        align-items: center;
        position: relative;
        &-title {
            font: normal normal bold 24px/33px Lato;
            margin-right: 46px;
        }
        &-option {
            width: 15%;
            border: none;
            outline: none;
            font: normal normal bold 16px/24px Lato;
        }
        .icon-group {
            position: absolute;
            right: 0;
            .material-icons {
                margin-left: 25px;
            }
        }
    }
    .container {
        padding-top: 44px;
        &-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-option {
            width: 20%;
            font: normal normal bold 16px/24px Lato;
            border: none;
            outline: none;
        }
        .comment {
            font: normal normal normal 12px/24px Lato;
            color: #707070;
        }
        .content {
            display: flex;
            justify-content: space-between;
            margin-top: 6px;
            &-left {
                width: 39%;
                .menu {
                    li:first-child {
                        background-color: #EDF4EE;
                        border-radius: 2px 2px 0 0;
                    }
                    li:last-child {
                        border-radius: 0 0 2px 2px;
                    }
                    li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 12px;
                        border: 1px solid #CDDDCD;
                        margin: 0 0 -1px -1px;
                        cursor: pointer;
                        .assignment-info {
                            .project {
                                color: #121212;
                                font: normal normal normal 12px/24px Lato;
                            }
                            .project-content {
                                color: #121212;
                                font: normal normal bold 16px/24px Lato;
                            }
                        }
                        .assignment-content {
                            text-align: right;
                            .time {
                                color: #121212;
                                font: normal normal normal 12px/24px Lato;
                            }
                            .project-name {
                                color: #0000009A;
                                font: normal normal normal 12px/24px Lato;
                            }
                        }
                    }
                }
            }
            &-right {
                width: 59%;
                border-radius: 2px;
                .border {
                    border: 1px solid #CDDDCD;
                }
                .project-text {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 12px;
                    background-color: #EDF4EE;
                    border-bottom: 1px solid #CDDDCD;
                    .project {
                        color: #121212;
                        font: normal normal normal 12px/24px Lato;
                    }
                    .project-content {
                        color: #121212;
                        font: normal normal bold 16px/24px Lato;
                    }
                    .material-icons {
                        cursor: pointer;
                    }
                }
                .avatar-card {
                    padding: 16px;
                    li + li {
                        padding-top: 16px;
                    }
                    li {
                        display: flex;
                        justify-content: space-between;
                        .pic {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-position: center;
                            background-size: cover;
                        }
                        .emily {
                            background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/emilywang.jpeg');
                        }
                        .andy {
                            background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/andychen.jpeg');
                        }
                        .first-content {
                            border-bottom: 1px solid #CDDDCD;
                        }
                        .avatar-content {
                            width: 90%;
                            padding-bottom: 16px;
                            .maintitle {
                                color: #121212;
                                font: normal normal bold 16px/24px Lato;
                            }
                            .subtitle {
                                color: #0000009A;
                                font: normal normal normal 12px/24px Lato;
                            }
                            .text {
                                padding: 16px 0;
                                color: #121212;
                                font: normal normal normal 14px/21px Lato;
                                .mark {
                                    color: #2A8356;
                                    background-color: #EDF4EE;
                                }
                                .push {
                                    margin-top: 16px;
                                }
                                .block {
                                    display: block;
                                }
                                .move {
                                    padding-left: 16px;
                                }
                            }
                            .second-text {
                                padding: 16px 0 0 0;
                            }
                            .attachfile {
                                width: 40%;
                                padding: 10px 16px;
                                border-radius: 2px;
                                display: flex;
                                align-items: center;
                                color: #121212;
                                background-color: #EDF4EE;
                                border: 1px solid #CDDDCD;
                                font: normal normal bold 16px/24px Lato;
                                .material-icons {
                                    margin-right: 8px;
                                    cursor: pointer;
                                }
                            }
                            .avatar-group {
                                display: flex;
                                justify-content: space-between;
                                .material-icons {
                                    margin-left: 24px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .change {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 24px;
                    .next {
                        display: flex;
                        .arrow {
                            color: #121212;
                            .material-icons {
                                font-size: 36px;
                            }
                        }
                        li + li {
                            margin-left: 24px;
                        }
                    }
                    .button {
                        display: flex;
                        a {
                            display: block;
                            padding: 8px 32px;
                            font: normal normal bold 16px/24px Lato;
                            border-radius: 2px;
                            transition: .5s;
                        }
                        .read {
                            color: #2A8356;
                            border: 1px solid #2A8356;
                            &:hover {
                                border: 1px solid red;
                                background-color: red;
                                color: #000;
                            }
                        }
                        .reply {
                            color: #fff;
                            background-color: #2A8356;
                            border: 1px solid transparent;
                            margin-left: 16px;
                            &:hover {
                                background-color: blue;
                            }
                        }
                    }
                }
            }
        }
    }
}