a {
    text-decoration: none;
}
.wrap {
    display: flex;
}
.list {
    width: 20%;
    background-color: #EDF4EE;
    position: relative;
    .logo {
        width: 150px;
        height: 40px;
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/logo-ANSWER.svg');
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
        padding: 32px;
        a {
            width: 100%;
            height: 100%;
            display: block;
            overflow: hidden;
            text-indent: 101%;
            white-space: nowrap;
        }
    }
    .menu {
        li {
            position: relative;
            &::after {
                content: "";
                width: 0px;
                height: 100%;
                background-color: #2A8356;
                position: absolute;
                top: 0;
                left: 0;
                transition: .2s;
            }
            &.active {
                &::after {
                    width: 4px;
                }
                a {
                    color: #2A8356;
                }
            }
            a {
                display: flex;
                align-items: center;
                color: #121212;
                font: normal normal bold 16px/24px Lato;
                transition: .5s;
                padding: 16px 32px;
                position: relative;
                &:hover {
                    color: #2A8356;
                }
            }
        }
    }
    .material-icons {
        margin-right: 16px;
    }
    .avatar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        left: 32px;
        bottom: 40px;
        .pic {
            width: 40px;
            height: 40px;
            background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/andychen.jpeg');
            background-size: cover;
            background-position: center;
            border-radius: 50%;
            margin-right: 16px;
        }
        .name {
            color: #121212;
            font: normal normal bold 16px/24px Lato;
        }
        .contact {
            color: #0000009A;
            font: normal normal normal 14px/24px Lato;
        }
    }
}
// .list .logo {
//     width: 150px;
//     height: 40px;
//     background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/logo-ANSWER.svg');
//     background-position: center;
//     background-size: auto;
//     background-repeat: no-repeat;
// }
// .list .logo a {
//     width: 100%;
//     height: 100%;
//     display: block;
//     overflow: hidden;
//     text-indent: 101%;
//     white-space: nowrap;
// }
// .menu {
//     padding-top: 40px;
// }
// .menu li + li {
//     margin-top: 30px;
// }
// .menu a {
//     display: flex;
//     align-items: center;
//     color: #121212;
//     font: normal normal bold 16px/24px Lato;
//     transition: .5s;
// }
// .menu a:hover {
//     color: #2A8356;
// }
// .menu li:nth-child(3) a {
//     color: #2A8356;
// }
// .material-icons {
//     margin-right: 16px;
// }
// .avatar {
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     position: absolute;
//     bottom: 40px;
// }
// .avatar .pic {
//     width: 40px;
//     height: 40px;
//     background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/andychen.jpeg');
//     background-size: cover;
//     background-position: center;
//     border-radius: 50%;
//     margin-right: 16px;
// }
// .avatar .name {
//     color: #121212;
//     font: normal normal bold 16px/24px Lato;
// }
// .avatar .contact {
//     color: #0000009A;
//     font: normal normal normal 14px/24px Lato;
// }